@import "tailwindcss";

.active { color: grey; position: relative; }

.active::after { content: ""; background-color: grey; width: 100%; height: 2px; position: absolute; top: 30px; left: 0; }

div span.activee { background-color: white; }

div span.active3 { background-color: white; color: black; }

